.OrderSummary {
  border: 1px soild black;
}

btn {
  padding: 1rem;
  border: 1px soild coral;
  background-color: chartreuse;
  color: black;
}
btn:hover {
  padding: 1rem;
  border: 1px soild coral;
  background-color: black;
  color: chartreuse;
}
